@import '../../styles/constants';

.header {
  .title {
    font-family: 'Petrona', 'Times New Roman', serif;
    font-size: 20px;
    text-align: right;
    font-weight: normal;
    color: #666;
  }
}
