.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #171b3c;
  background-image: url('./assets/vine_pattern.svg');
  background-size: 200px 500px;
  background-repeat: repeat-y;
  background-position: top 0 right -100px;
  overflow-y: auto;

  .page {
    min-height: calc(100% - 40px);
    margin: 0 100px 0 0;
    background-color: #fff;
  }
}
