.poem {
  max-width: 800px;
  margin: 0 auto;
  padding: 180px 60px 120px;
  text-align: left;
  //opacity: 0;

  &.fade-in {
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-iteration-count: 1;
  }

  .poem-number {
    margin-bottom: 0.5em;
    font-family: 'Petrona', 'Times New Roman', serif;
    font-size: 1.4em;
    text-align: center;
  }

  .poem-title {
    margin-bottom: 28px;
    font-family: 'Petrona', 'Times New Roman', serif;
    font-size: 38px;
    text-align: center;
  }

  .poem-subtitle {
    margin: -27px 0 28px;
    font-family: 'Petrona', 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
  }

  .poem-dedication {
    margin: -15px 140px 28px 0;
    font-size: 18px;
    font-style: italic;
    text-align: right;
  }

  .poem-epigram {
    margin: -10px 0 28px 120px;
    font-size: 18px;
    text-align: left;
    font-style: italic;
  }

  .poem-body {
    font-size: 22px;
    margin-bottom: 40px;

    .poem-section-title {
      font-size: 18px;
      font-style: italic;
    }

    .poem-line {
      margin-left: 5em;
      line-height: 1.4em;
      text-indent: -5em;
      white-space: pre-wrap;
    }
  }
}

.next-previous {
  position: fixed;
  top: 50px;
  right: 110px;
  padding: 5px;

  .previous-poem,
  .next-poem {
    display: block;
    font-family: 'Petrona', 'Times New Roman', serif;
    text-align: right;
    color: #171b3c;
    text-decoration: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
